@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  /* height: 100%;
  background-color: #010026;
  @apply text-white; */
  overflow-x: hidden;
}

.paralax {
  height: 100%;
  position: absolute;
}

.fog {
  background: url("./assets/fog.webp") bottom/100% repeat-x;
  opacity: 0.3;
  animation: moves 20s infinite linear;
  z-index: 1000;
}

@keyframes moves {
  to {
    background-position: -100vw 110%;
  }
}

.moon {
  background: url("./assets/m_1.png") center/cover no-repeat;
}

.forest {
  background: url("./assets/cool.png") bottom/100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 100;
}

.temple {
  background: url("./assets/cool2.png") bottom/100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 90;
}

.deer {
  background: url("./assets/cool3.jpg") bottom/100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 80;
}

.forest_container {
  position: relative;
  z-index: 91;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 100vh;
}

.forest-header {
  font-family: sans-serif;
  color: white;
  text-align: center !important;
  text-transform: uppercase;
}

.forest-header h1 {
  font-size: 120px;
  font-weight: 600;
  color: white;
  margin-bottom: -40px;
}

.forest-header h2 {
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.content {
  width: 200px;
  height: auto;
  margin-right: 40px;
}

.temple_container {
  position: relative;
  z-index: 91;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 1500vh;
}

.deer_container {
  position: relative;
  z-index: 91;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 1000vh;
}
