@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  /* height: 100%;
  background-color: #010026;
  @apply text-white; */
  overflow-x: hidden;
}

.paralax {
  height: 100%;
  /* position: absolute; */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fog {
  background: url("./assets/fog.webp") bottom/100% repeat-x;
  opacity: 0.3;
  animation: moves 20s infinite linear;
  z-index: 1000;
}

@keyframes moves {
  to {
    background-position: -100vw 0%;
  }
}

.dot_container {
  position: fixed;
  z-index: 5000;
}

.moon {
  background: url("./assets/m_1.png") center/cover no-repeat;
}

.forest {
  background: url("./assets/cool.png") bottom/100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 100;
}

.temple {
  background: url("./assets/cool2.png") bottom/100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 90;
}

.deer {
  background: url("./assets/cool3.png") bottom/100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 80;
}

.forest_container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 100vh;
}

.forest-header {
  font-family: sans-serif;
  color: white;
  text-align: center !important;
  text-transform: uppercase;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #d3a34a;
  }
  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #e7e080;
  }
}

.forest-header h1 {
  font-size: 120px;
  font-weight: 600;
  color: white;
  margin-bottom: -40px;
}

.forest-header h2 {
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.content {
  width: 200px;
  height: auto;
  margin-right: 40px;
}

.temple_container {
  position: relative;
  z-index: 91;
  margin-top: 250vh;
}

.skillsHeader {
  position: fixed;
  margin-top: 10vh;
  font-size: 40px;
  font-weight: 600;
  animation: textChange 5s ease infinite;
}

@keyframes textChange {
  0% {
    color: #e73c7e;
  }
  20% {
    color: #ee7752;
  }
  40% {
    color: #23d5ab;
  }
  60% {
    color: #23a6d5;
  }
  80% {
    color: #9824ce;
  }
  100% {
    color: #e73c7e;
  }
}

.ReactLogo {
  position: fixed;
  left: 8%;
}
.ReduxLogo {
  position: fixed;
  left: 21%;
}

.TailwindLogo {
  position: fixed;
  left: 33%;
}

.JavascriptLogo {
  position: fixed;
  left: 45%;
}

.TypescriptLogo {
  position: fixed;
  left: 57%;
}

.NodeLogo {
  position: fixed;
  left: 69%;
}

.PhotoshopLogo {
  position: fixed;
  left: 82%;
}

.deer_container {
  position: relative;
  z-index: 91;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 500vh;
}

.sliding_project {
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  overflow: hidden;
}

.image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

.image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
